html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  line-height: 1.15 !important;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

html {
  height: 100%;
  background: url("../images/pozadina_1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

fieldset {
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: 0;
}

legend {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}


* {
  box-sizing: border-box;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 33px;
  cursor: pointer;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #fff;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%2300ad5f' aria-hidden='true' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%2300ad5f' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3e%3c/path%3e%3c/svg%3e");
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.main-wrapper {
  min-height: 100vh;
  /*display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  /*-ms-flex-align: center;
      align-items: center;*/
  padding: 15px;
  font-family: 'Poppins', sans-serif;
}

.main-input {
  /*display: -ms-flexbox;
  display: flex;*/
  display: block;
  margin-bottom: 20px;
}

.main-wrapper .main-input form {
  width: 100%;
  /*max-width: 914px;
  max-height: 100px;*/
  margin: 0;
}

.main-wrapper .main-input form .inner-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.main-wrapper .main-input form .inner-form .left {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper .main-input form .inner-form .input-wrap {
  background: #fff;
  height: 80px;
  position: relative;
  padding: 20px 25px 20px 25px;
}

.main-wrapper .main-input form .inner-form .input-wrap .input-field label {
  font-size: 11px;
  font-weight: 500;
  display: block;
  color: #555;
}

.main-wrapper .main-input form .inner-form .input-wrap .input-field input {
  font-size: 16px;
  color: #333;
  background: transparent;
  width: 100%;
  border: 0;
  font-family: 'Lato', sans-serif;
  padding: 8px 0;
}

.main-wrapper .main-input form .inner-form .input-wrap .input-field input.placeholder {
  color: #808080;
}

.main-wrapper .main-input form .inner-form .input-wrap .input-field input:-moz-placeholder {
  color: #808080;
}

.main-wrapper .main-input form .inner-form .input-wrap .input-field input::-webkit-input-placeholder {
  color: #808080;
}

.main-wrapper .main-input form .inner-form .input-wrap .input-field input.hover, 
.main-wrapper .main-input form .inner-form .input-wrap .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.main-wrapper .main-input form .inner-form .input-wrap.first {
  -ms-flex-positive: 1;
      flex-grow: 1;
  border-radius: 3px 0 0 3px;
}

.main-wrapper .main-input form .inner-form .input-wrap.second {
  min-width: 240px;
  border-radius: 0 3px 3px 0;
  border-left: 1px solid #e5e5e5;
}

.main-wrapper .main-input form .input-select {
  height: 34px;
  padding: 10px 0 6px 0;
}

.main-wrapper .main-input form .btn-search {
  min-width: 110px;
  height: 80px;
  padding: 0 15px;
  background: #fa4251;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
}

.main-wrapper .main-input form .btn-search:hover {
  background: #f9293a;
}

@media screen and (max-width: 767px) {
  .main-wrapper .main-input form .inner-form {
    display: block;
  }
  .main-wrapper .main-input form .inner-form .left {
    display: block;
  }
  .main-wrapper .main-input form .inner-form .left .input-wrap {
    margin-bottom: 15px;
  }
  .main-wrapper .main-input form .btn-search {
    margin: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=Searchs_013.css.map */


/* My CSS Classes */

.select2-container--default .select2-selection--multiple 
.select2-selection__rendered {
  padding: 0px !important;
}

.select2-container .select2-search--inline 
.select2-search__field {
  margin: 0px !important;
  padding: 0px !important;
}

.select2-container--default 
.select2-selection--multiple {
  border: 0px !important;
  background-color: transparent !important;
}

.select2-container--default.select2-container--focus 
.select2-selection--multiple {
  border: 0px !important;
}

.select2-container--default .select2-selection--multiple 
.select2-selection__choice {
  background-color: transparent !important;
  margin-top: 0px !important;
  border: 0px !important;
  border-radius: 3px !important;
}

.select2-container--default .select2-selection--single {
  border: 0 !important;
}

.select2-dropdown {
  border: 0px !important;
}

.select2-results__option[aria-selected=true] {
  display: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4d9cb3 !important;
}

.select2-container--default .select2-selection--multiple 
.select2-selection__choice__remove {
  color: #4d9cb3 !important;
}

.input-select {
  color: #4d9cb3 !important;
}

#citySelect {
  min-width: 100% !important;
}
.forecast-type {
  min-width: 100% !important;
  border: 0 !important;
}
body {
  font-family: 'Poppins', sans-serif !important;
  min-width: 750px;
}


.title {
  background-color: #4d9cb3;
  max-height: 80px;
  /*margin-right: 10px;*/
  margin-bottom: 10px;
  padding: 3px 0;
  border-radius: 3px;
}
.title h1 {
  font-size: 34px;
  font-weight: bold;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0px;
}

.main-content {
  display: flex;
}
.weather-table {
  width: 50%;
  height: 67vh;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
  margin: 0 5px 0 0;
  background-color: rgb(255, 255, 255)/*rgb(250, 223, 196, 0.7)*/;
  border-radius: 3px;
}
.weather-chart {
  width: 50%;
  height: 67vh;
  margin: 0 0 0 5px;
  /*padding-top: 30px;*/
  background-color: white /*rgb(250, 223, 196, 0.7)*/;
  overflow: hidden;
  border-radius: 3px;
  text-align: center;
}
.chart-canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.radio-group {
  /*padding-top: 15px;*/
  padding: 12px 0;
  height: 48px;
  line-height: 24px;
  background-color: #fa4251;
  overflow: visible;
}
/* Inline Radio Buttons */
.radio,
.note {
  display: inline-block;
  color: #000;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0px;
}
.radio {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.note {
  font-size: 14px;
}
/* Radio Button Style */
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -2px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
}
input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -2px;
  position: relative;
  background-color: #4d9cb3;
  content: '';
  display: inline-block;
  visibility: visible;
}

/* AdminLTE */
.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: transparent;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
}
.table td {
  text-align: center;
  border-top: 1px solid #dee2e6;
}
.table thead {
  background-color: #fa4251;
  color: white;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-striped tbody tr:nth-child(4n+1) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table-striped tbody tr:nth-child(4n+3) {
  background-color: rgba(0, 0, 0, 0.1);
}
.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}
/**/

.hidden-row:hover {
  color: transparent !important;
  background-color: transparent !important;
}
.hidden {
  background-color: transparent !important;
  color: black !important;
}
select:active, select:hover {
  outline-color: #4d9cb3;
}
/* - All needed modifications have been made in existing classes if that was an option - */
